div.image_background{
    /*rgb(200,191,231) or rgb(112,146,190) or rgb(81,238,246);*/
    background : rgb(255,255,255);
    border-color : rgb(81,238,246); 
    border-width: 1px; 
    border-style: solid; 
    font-family : times,verdana; 
    text-align:left; 
    padding: 2px 2px 2px 2px; 
    margin:0 auto;
    border-radius:10px;
    -moz-border-radius: 10px; 
    -webkit-border-radius : 10px; 
}

div.text_TotalTerminal{
    font-family:arial,verdana;
    /*font-size : '.$tamFont.'px; */
    /*line-height : '.$tamInterLin.'px; */
    background : rgb(51,51,51);
    text-align:left; 
    padding: 10px 20px 10px 20px; 
    margin:0 auto;
    border-radius:7px;
    -moz-border-radius: 7px; 
    -webkit-border-radius : 7px; 
}

div.text_Guake{
    font-family:arial,verdana;
    /*font-size : '.$tamFont.'px; */
    /*line-height : '.$tamInterLin.'px; */
    background : rgb(59,61,35);
    text-align:left; 
    padding: 10px 20px 10px 20px; 
    margin:0 auto;
    border-radius:7px;
    -moz-border-radius: 7px; 
    -webkit-border-radius : 7px; 
}

div.text_Yaquake{
    font-family:arial,verdana;
    /*font-size : '.$tamFont.'px; */
    /*line-height : '.$tamInterLin.'px; */
    background : rgb(60,50,38);
    text-align:left; 
    padding: 10px 20px 10px 20px; 
    margin:0 auto;
    border-radius:7px;
    -moz-border-radius: 7px; 
    -webkit-border-radius : 7px; 
}